<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ERPWebServer</property>
        <property name="connection.username">root</property>
        <property name="connection.password">test123</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
  		<!--
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:SXT</property>
        <property name="connection.username">scott</property>
        <property name="connection.password">tiger</property>
      	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
       

 		<property name="connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
        <property name="connection.url">jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=hibernate</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>
      	<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		-->
		
        <!-- JDBC Connection -->
        <property name="connection.pool_size">20</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- Drop and re-create/Update the database schema on startup --> 
        <property name="hbm2ddl.auto">update</property> <!-- create/update -->
        

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


		<!-- when use UPDATE in HQL , Cause error：query must begin with SELECT or FROM-->
        <!-- <property name="query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property> --> 
         
        <!-- <property name="query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property> -->





		<!-- ORM -->
		
		<!-- Extensions Models -->
		<mapping class="com.xinyuan.model.Extensions.APPOrderAttributes" />
		
		
		
		<!-- User Models -->
        <mapping class="com.xinyuan.model.User.User"/>
        
        
        
        <!-- Cards Models -->
        <mapping class="com.xinyuan.model.Cards.CardsAlbums"/>
        
        
        
        <!-- Approval Models -->
        <mapping class="com.xinyuan.model.Approval.Approvals"/>
        
        
		
		<!-- HumanResource Models -->
        <mapping class="com.xinyuan.model.HumanResource.Employee"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTDROrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTFixOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeBMOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeCHOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeDormOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeLeaveOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeMEOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeOTOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeQuitOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeQuitPassOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeSMOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeSMBill"/>
        

        <!-- Security Models -->
        <mapping class="com.xinyuan.model.Security.SecurityVisitOrder"/>
        <mapping class="com.xinyuan.model.Security.SecurityVisitLogOrder"/>
        
        <mapping class="com.xinyuan.model.Security.SecurityPatrolOrder"/>
        <mapping class="com.xinyuan.model.Security.SecurityPatrolBill"/>
        
        
        <!-- Business Models -->
        <mapping class="com.xinyuan.model.Business.Client"/>
        
        
        <!-- SharedOrder Models -->
        <mapping class="com.xinyuan.model.SharedOrder.SharedOutOrder"/>
        
        <mapping class="com.xinyuan.model.SharedOrder.SharedReleaseOrder"/>
        <mapping class="com.xinyuan.model.SharedOrder.SharedReleaseBill"/>
        
        
        <!-- Warehouse Models -->
        <mapping class="com.xinyuan.model.Warehouse.WHMaterialOrder"/>
        <mapping class="com.xinyuan.model.Warehouse.WHLendOutBill"/>
        <mapping class="com.xinyuan.model.Warehouse.WHLendOutOrder"/>
        <mapping class="com.xinyuan.model.Warehouse.WHScrapOrder"/>
        
        
        
        <!-- Finance Models -->
        <mapping class="com.xinyuan.model.Finance.FinanceCHOrder"/>
        <mapping class="com.xinyuan.model.Finance.FinancePettyCashOrder"/>
        
        
    </session-factory>

</hibernate-configuration>