<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ERPWebServer</property>
        <property name="connection.username">tmd</property>
        <property name="connection.password">tmd0099</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        

        
  		<!--
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:SXT</property>
        <property name="connection.username">scott</property>
        <property name="connection.password">tiger</property>
      	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
       

 		<property name="connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
        <property name="connection.url">jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=hibernate</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>
      	<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		-->
		
		
		
		
        <!-- JDBC Connection -->
        <!-- <property name="connection.pool_size">20</property> --> <!-- Now we use c3p0 -->
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        
        
        <!-- C3P0 Settings -->
        <!-- 
        C3P0 is an open source JDBC connection pool distributed along with Hibernate in the lib directory. 
        Hibernate will use its 
        org.hibernate.connection.C3P0ConnectionProvider 
        for connection pooling if you set hibernate.c3p0.* properties. 
        (so u no need to explicitly write the provider_class out )
        -->
        <!-- 
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
         -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <!-- Cache The PreparedStatements -->
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.acquire_increment">1</property> 
          
     	<property name="hibernate.c3p0.timeout">600</property>
          
        <!-- Mysql wait_timeout: 28800 (8 hour). Be sure to less than it -->
        <property name="hibernate.c3p0.idle_test_period">3600</property> 
        <property name="hibernate.c3p0.testConnectionOnCheckin">true</property>
        <property name="hibernate.c3p0.automaticTestTable">Test</property>
        
        
        
        
        
        <!-- Not Supported by MySQL -->
        <property name="jdbc.batch_size">50</property>
        <property name="jdbc.fetch_size">100</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- Drop and re-create/Update the database schema on startup --> 
        <property name="hbm2ddl.auto">update</property> <!-- create/update -->
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


		<!-- when use UPDATE in HQL , Cause error：query must begin with SELECT or FROM-->
        <!-- <property name="query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property> --> 
         
        <!-- <property name="query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property> -->





		<!-- ORM -->
		
		<!-- Setting Models -->
		<mapping class="com.xinyuan.model.Setting.APPSettings" />
		
		
		
		<!-- User Models -->
        <mapping class="com.xinyuan.model.User.User"/>
        
        
        
        <!-- Cards Models -->
        <mapping class="com.xinyuan.model.Cards.CardsAlbums"/>
        
        
        
        <!-- Approval Models -->
        <mapping class="com.xinyuan.model.Approval.Approvals"/>
        
        
		
		<!-- HumanResource Models -->
        <mapping class="com.xinyuan.model.HumanResource.Employee"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeCHOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeQuitOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeQuitPassOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeMissMealOrder"/>
        
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTDROrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTFixOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeATTOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeDormOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeLeaveOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeMEOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeOTOrder"/>
        
        <mapping class="com.xinyuan.model.HumanResource.EmployeeSMOrder"/>
        <mapping class="com.xinyuan.model.HumanResource.EmployeeSMBill"/>
        

        <!-- Security Models -->
        <mapping class="com.xinyuan.model.Security.SecurityVisitLogOrder"/>
        <mapping class="com.xinyuan.model.Security.SecurityVisitorOrder"/>
        
        <!-- Vehicle Models -->
        <mapping class="com.xinyuan.model.Vehicle.VehicleInfoOrder"/>

        <mapping class="com.xinyuan.model.Security.SecurityPatrolTracker"/>
        
        <mapping class="com.xinyuan.model.Security.SecurityPatrolOrder"/>
        <mapping class="com.xinyuan.model.Security.SecurityPatrolBill"/>
        
        
        <!-- Business Models -->
        <mapping class="com.xinyuan.model.Business.Client"/>
        <mapping class="com.xinyuan.model.Business.BSConsultOrder"/>
        <mapping class="com.xinyuan.model.Business.Contract"/>
        <mapping class="com.xinyuan.model.Business.ContractPayBill"/>
        <mapping class="com.xinyuan.model.Business.ContractReceiveBill"/>
        
        <!-- SharedOrder Models -->
        <mapping class="com.xinyuan.model.SharedOrder.SharedOutOrder"/>
        <mapping class="com.xinyuan.model.SharedOrder.SharedMaterialOrder"/>
        <mapping class="com.xinyuan.model.SharedOrder.SharedCahierOrder"/>
        <mapping class="com.xinyuan.model.SharedOrder.SharedEventReportOrder"/>
        
        <mapping class="com.xinyuan.model.SharedOrder.SharedPassOrder"/>
        <mapping class="com.xinyuan.model.SharedOrder.SharedPassBill"/>
        
        
        <!-- Warehouse Models -->
        <mapping class="com.xinyuan.model.Warehouse.WHLendOutBill"/>
        <mapping class="com.xinyuan.model.Warehouse.WHLendOutOrder"/>
        
        <mapping class="com.xinyuan.model.Warehouse.WHScrapOrder"/>
        
        <mapping class="com.xinyuan.model.Warehouse.WHInventory"/>
        <mapping class="com.xinyuan.model.Warehouse.WHInventoryCHOrder"/>
        
        <mapping class="com.xinyuan.model.Warehouse.WHPurchaseOrder"/>
        <mapping class="com.xinyuan.model.Warehouse.WHPurchaseBill"/>
        
        <mapping class="com.xinyuan.model.Warehouse.WHRecycleInventory"/>
        
        <mapping class="com.xinyuan.model.Warehouse.WHPickingDetailsOrder"/>
        <mapping class="com.xinyuan.model.Warehouse.WHPickingDetailsBill"/>
        <mapping class="com.xinyuan.model.Warehouse.WHPickingOrder"/>
        
        
        
        <!-- Finance Models -->
        <mapping class="com.xinyuan.model.Finance.FinanceAccount"/>
        <mapping class="com.xinyuan.model.Finance.FinanceAccountCHOrder"/>
        
        <mapping class="com.xinyuan.model.Finance.FinanceSalary"/>
        <mapping class="com.xinyuan.model.Finance.FinanceSalaryCHOrder"/>
        
        <mapping class="com.xinyuan.model.Finance.FinancePaymentBill"/>
        <mapping class="com.xinyuan.model.Finance.FinancePaymentOrder"/>
        
        
        <!-- Purchase Models -->
        <mapping class="com.xinyuan.model.Purchase.Vendor"/>
        <mapping class="com.xinyuan.model.Purchase.PurchaseOrder"/>
        
         <!-- QualityControl Models -->
        <mapping class="com.xinyuan.model.QualityControl.QCReworkNoticeOrder"/>
        
         <!-- Articles Models -->
        <mapping class="com.xinyuan.model.Articles.ArticlesCHOrder"/>
        <mapping class="com.xinyuan.model.Articles.ArticlesOrder"/>
        
        
        
    </session-factory>

</hibernate-configuration>